body {
    background-color: black;
    --light-text-color: #DEDEDE;
    --user1-logo-color: #F1B74D;
    --user2-logo-color: #EA954F;
    --user3-logo-color: #83A9E8;
    --user4-logo-color: #DE6D69;

}

.container {
    background-image: url(./assets/connor-carruthers-2XlRNChm2rg-unsplash.jpg);

    /* background-image:url(./assets/vania-medina-ZEIT7oBdlFw-unsplash.jpg); */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.transparent_bg {
    backdrop-filter: blur(5px);
    background-color: hsla(214, 49%, 27%, 0.2);
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 120px 1fr 30px;
    height: 100vh;

    color: var(--light-text-color);
}

header {
    grid-column: 2/-2;
    display: flex;
    align-self: center;
}

header, main, footer{
    margin: 0px 30px;
}

header .actions {
    display: flex;
    flex-grow: 1;
    height: 55px;
}

header .actions label {
    width: 100%;

    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 20px;

    border: solid 1px #dedede63;
    /* backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 20%, 0.4); */

    color: var(--light-text-color);
    display: inline-flex
}

header .actions label:focus-within {
    border-width: 3px;
}

header .actions img {
    height: 80%;
    align-self: center;
    margin-right: 5%;
}

header .actions input {
    color: var(--light-text-color);
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    outline: none;
}

header .user {
    display: flex;
    align-self: center;
}

.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account > *{
    margin: 0;
}

.profile {
    height: 50px;
    width: 50px;
    flex-shrink: 0;
    margin-right: 15px;
}

.profile .background {
    border-radius: 100%;
    padding: 5px;
}

#user1 {
    background-color: var(--user1-logo-color);
}

#user2 {
    background-color: var(--user2-logo-color);
}

#user3 {
    background-color: var(--user3-logo-color);
}

#user4 {
    background-color: var(--user4-logo-color);
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;

    display: grid;
    grid-template-rows: subgrid;
}

.sidebar .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .header img {
    height: 100%;
    transform: scaleX(-1) rotate(350deg);

}

.sidebar .content {
    grid-row: 2/-1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.5rem;
    margin: 20% auto 20px auto;
}

.sidebar .content .redirect {
    display: flex;

    height: 35px;
    color: var(--light-text-color)
}

.sidebar .content .redirect img {
    height: 100%;
    margin-right: 10%;
}

.sidebar .content .redirect .link {
    align-self: center;
}

.color-filter {
    filter: brightness(0) saturate(100%) invert(87%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(99%) contrast(91%);
}


main {
    grid-column: 2/-2;
    grid-row: 2/-2;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr 1fr;
}

h2{
    margin-top: 0;
}

main > div {
    grid-column: 1/-1;
    grid-row: 1/-1;

    display: flex;
    flex-direction: column;
}

main .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;

    flex-grow: 1;
}

.dark-bg{
    background-color: hsla(216, 45%, 2%, 0.80);
}

main .projects .card{
    padding: 30px 45px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card h3{
    margin: 0;
}

.card p{
    padding-bottom: 0;
}

.card .actions{
    align-self: flex-end;
}

.card button{
    background: none;
    border: none;
    cursor: pointer;
}

.card button:active{
    filter: brightness(0) saturate(100%) invert(100%);
}

.card button img {
    height: 33px;
}

section {
    grid-column: -2/-1;
    grid-row: 1/-1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.all-trends{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trend{
    display: flex;
    align-content: center;
    margin: 5px 0;
}

.account > *{
    margin: 0;
}

footer {
    height: auto;
    grid-column: 2/-2;
    grid-row: -2/-1;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: var(--light-text-color);
}