body{
    background-color: black;
    --light-text-color: #DEDEDE;

}

.container{
    background-image:url(./assets/connor-carruthers-2XlRNChm2rg-unsplash.jpg);

    /* background-image:url(./assets/vania-medina-ZEIT7oBdlFw-unsplash.jpg); */


  background-size: cover;      /*Makes it stretch to full screen*/
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;

}

.transparent_bg{
    backdrop-filter: blur(5px);
    background-color: hsla(214, 49%, 27%, 0.2);
}

.container{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 120px 1fr 50px;
    height: 100vh;

    color: var(--light-text-color);
}

header{
    grid-column: 2/-1;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/-1;

    display: grid;
    grid-template-rows: subgrid;
}

.sidebar .header{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.sidebar .header img{
    height: 100%;
    transform: scaleX(-1) rotate(350deg);

}

.sidebar .content{
    grid-row: 2/-2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.5rem;
    margin: 20% auto;
}

.sidebar .content .redirect{
    display: flex;

    height: 35px;
    color: var(--light-text-color)
}

.sidebar .content .redirect img{
    height: 100%;
    margin-right: 10%;
}

.sidebar .content .redirect .link{
    align-self: center ;
}

.color-filter{
    filter: brightness(0) saturate(100%) invert(87%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(99%) contrast(91%);
}


main{
    grid-column: 2/-1;
    grid-row: 2/-2;

    display:grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

main .projects{
    grid-column: 1/3;
    grid-row: 1/-1;
}

main .announcements{
    grid-column: 3/-1;
    grid-row: 1/-2;
}

main .trending{
    grid-column: 3/-1;
    grid-row: 2/-1;
}

footer{
    grid-column: 2/-1;
    grid-row: -2/-1;
}
